table{
    width: 100%;
    border-collapse: collapse;
}
td{
    text-align: left;
    position: relative;
    max-width: 33%;
    box-sizing: border-box;
    padding: 2px;
}
td img{
    max-width: 100%;
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    margin-bottom: 25px;
    transition: 0.3s ease
}

td p{
    margin-top: 275px;
    margin-left: 20px;
    font-size: x-large;
}

td img:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
}